{% include header.html %}

<div class="content" role="document">
    {{ content }}

    <div class="about">
        <p>
            <strong>About this page</strong> <br>
            I love anime and manga! I've followed many different series week-by-week
            and by far the hardest part about being a weekly reader is the dreaded period
            of time when I know there are spoilers out there. I always wished there was
            a way to get a small taste of the chapter without actually getting spoiled,
            hence, I created this small site.
        </p>
        <p>
            This is the MVP version of this page. There's a lot more in the roadmap
            including a mobile app if people find this valuable enough.
        </p>
        <p>
            The page is hosted at Github Pages
        </p>
    </div>

</div>

{% include footer.html %}
